# venv
backend/venv/
backend/venv/

# Python cache
**/__pycache__/
*.py[cod]

# Env files
interface/.env
interface/node_modules
backend/.env
backend/env.yaml

# IDEs
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db
*.zip

# Project Documentation & WIP
.tmp_pr/
docs/
artifacts/