#python packages
fastapi
uvicorn
pydantic
python-multipart
httpx

#env
notebook
dotenv

#pdf parsing
pymupdf
pymupdf4llm

#ds
pandas
numpy

#scraping
beautifulsoup4

#google cloud sdks
google-cloud-documentai
google-cloud-storage
google-cloud-firestore
google-cloud-aiplatform

#mongodb
pymongo

#fuzzy finder
rapidfuzz

#auth
python-jose
passlib
bcrypt==3.2.2